<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table id="authors_list">
  <thead>
    <tr>
    <th>#</th>
      <th>Name</th>
      <th>Ph</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
      <td><%= author.id %></td>
      <td><%= link_to author.name, author_posts_path(author) %></td>
        <td><%= author.ph %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>New Author</h1>

<%= render 'form', author: @author %>


